<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>【Error通知】LINEとの通信において</h1>
    <p>以下のグループにて例外が発生した模様です。確認をお願いします。</p>
    <p><%= @group_id%></p>
    <p><%= @error_message %></p>
  </body>
</html>
