= form_with model: alarm_content, url: url, local: true do |f|
  .form-group.my-5.offset-2.col-8
    = f.label :body, AlarmContent.human_attribute_name(:body)
    = f.text_field :body, class: 'form-control rounded-pill'
  .form-group.my-5.offset-2.col-8
    = f.label :category, AlarmContent.human_attribute_name(:category)
    = f.select :category, AlarmContent.categories.invert, {}, class: 'form-control rounded-pill'
  .form-group.my-5.text-center
    = f.submit '🐾 送信 🐾', class: 'btn btn-secondary rounded-pill font-monospace'
