= form_with model: alarm_content_category, url: url, local: true do |f|
  .form-group.my-5.offset-2.col-8
    = f.label :name, AlarmContentCategory.human_attribute_name(:name)
    = f.text_field :name, class: 'form-control rounded-pill'
  .form-group.my-5.text-center
    = f.submit '🐾 送信 🐾', class: 'btn btn-secondary rounded-pill font-monospace'
