h1.mt-5
  | ReLINE
.main_character.my-3
  = image_pack_tag 'media/images/cat.png', alt: 'cat-image', class: 'img-fluid'
.add_firend_button.my-3
  = link_to 'https://lin.ee/Pllww8S' do
    = image_tag 'https://scdn.line-apps.com/n/line_add_friends/btn/ja.png', alt: '友だち追加', height: '36', border: '0'
.special_thanks.mt-2.mb-5
  | 猫さんのイラスト協力：Sapico様

/ ===== 使い方に関して(フェードイン方式) =====
.fade-in.fade-in-up.col-md-6.offset-md-3
  .h4.mt-5
    | あの日を最後に<br>連絡が途切れた人はいませんか？
  .usage-images.my-5
    = image_pack_tag 'media/images/undraw_true_friends_c94g.png', class: 'img-fluid'
.fade-in.fade-in-up.col-md-6.offset-md-3
  .h4.mt-5
    | 猫さんが<br>間を取り持つ手助けをします。
  .usage-images.my-5
    = image_pack_tag 'media/images/undraw_connection_b38q.png', class: 'img-fluid'
.fade-in.fade-in-up.col-md-6.offset-md-3
  .h4.mt-5
    | 具体的な操作は2つだけ
.fade-in.fade-in-up.col-md-6.offset-md-3
  .h4.mt-5
    | 1.猫さんをLINEの友だちに追加
  .usage-images.my-5
    = image_pack_tag 'media/images/undraw_Following_re_d5aa.png', class: 'img-fluid'
.fade-in.fade-in-up.col-md-6.offset-md-3
  h4.mt-5
    | 2.猫さんをグループに加える
  .usage-images.my-5
    = image_pack_tag 'media/images/undraw_Chatting_re_j55r.png', class: 'img-fluid'
.fade-in.fade-in-up.col-md-6.offset-md-3
  .h4.mt-5
    | "2"まで完了すると…
  .h4.mt-5
    | 最後の投稿から<br>3週間〜2ヶ月後に<br>猫さんがLINEします。
  .usage-images.my-5
    = image_pack_tag 'media/images/undraw_Online_messaging_re_qft3.png', class: 'img-fluid'
  .mt-5.mb-4
    | 〜 通知時期を設定したい場合 〜
  .mb-3
    | 約1ヶ月後にしたい場合は<br>"Would you set to faster."
  .mb-3
    | もっと遅めにしたい場合は<br>"Would you set to latter."
  .mb-5
    | デフォルトに戻したい場合は<br>"Would you set to default."<br>と投稿してください🖍
.fade-in.fade-in-up.col-md-6.offset-md-3
  .h4.mt-5
    | もし働きかけを止めたいときは
  .h4.mt-5
    | "Cat sleeping on our Memory."
  .h4.mt-5
    | と投稿してください🐾
= image_pack_tag 'media/images/undraw_friends_r511.png', class: 'img-fluid my-5 col-md-6 offset-md-3'
