h1.mt-5.text-break
  = @content.body
h3.mt-5
  | カテゴリー：
  = @content.category_i18n
- if current_operator.operator?
  .mt-5
    = link_to '🐾 編集 🐾', edit_operator_content_path(@content), class: 'btn btn-secondary rounded-pill font-monospace'
  .my-5
    = button_to '- 削除 -', operator_content_path(@content), method: :delete, class: 'btn btn-danger rounded-pill font-monospace', form: { style: 'display: inline;' }
