body {
  padding-top: 3.5rem;
}

.web-font {
  font-family: 'Hachi Maru Pop', cursive;
}

.feedback-input {
  resize: none;
  height: 280px;
}

.fade-in {
  opacity: 0;
  transition-duration: 1000ms;
  transition-property: opacity, transform;
}

.fade-in-up {
  transform: translate(0, 50px);
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

.meiryo-font {
  font-family: Meiryo;
}
