name: Rubocop

on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  rubocop:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Prepare Rubocop cache dir
        run: mkdir -p tmp/rubocop_cache

      - name: Run Rubocop
        env:
          RUBOCOP_CACHE_ROOT: tmp/rubocop_cache
        run: bundle exec rubocop
